* {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 30px;
    margin-bottom: 30px;
}

body {
    background-color: lightgray;
}

#formContent {
    background-color: white;
    border: solid darkgrey 2px;
    border-radius: 0.5rem;
    padding: 40px;
}

#generate {
    border-radius: 1.5rem;
}