* {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 30px;
    margin-bottom: 30px;
}

body {
    background-color: lightgray;
}

h1, h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}

main {
    background-color: white;
    border: solid darkgrey 2px;
    border-radius: 0.5rem;
    padding: 40px;
    box-shadow: 0 0 10px grey;
}

#generate, #copy {
    border-radius: 1.5rem;
}

.col-md-12 {
    margin-bottom: 0.5rem;
}

hr {
    border-width: 2px;
}

.custom-checkbox {
    padding-left: 35px;
}

.col-md-3 {
    padding-left: 10px;
    padding-right: 10px;
}

.form-group {
    margin-bottom: 0.5rem;
}

.alert-danger {
    margin-top: 15px;
}

@media (max-width: 575px) {
    #generate, #copy {
        border-radius: 0.3rem;
        margin-bottom: 10px;
        width: 100%;
    }

    h1, h2 {
        text-align: center;
    }
}